.App {
  text-align: center;
}
/*----------------------------------------- Navigation bar------------------------------------------------- */ 
.NavBar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
}
.routes {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  align-items: center;

}
.routes >li {
  float: center;
  margin-top: 5px;
  padding: 10px, 20px;
}
.routes li:hover > ul{
  display: block;
  background-color: #E8D2FA;
  text-align: left;
  cursor: pointer;
  width: 180px;
  border-radius: 20px;
  font-size: small;
}
.routes li ul{
  display:none;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.optionsMenu{
  font-size: 10px;
}
.routes li ul li{
  border-bottom: rgb(255, 255, 255) 1px solid;
  border-radius: 20px;
  padding: 5px;
  font-size: 100%;
}
ul.routes {
  margin: 0;
  padding: 10px;
}
.routes li{
  list-style: none;
}
.routes a {
  text-decoration: none;
  color: #6B3B91;
  font-size: 150%;
  padding: 10px;
}
.languages{
  background-color: white;
  margin-top: 4px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

}
.languages a{
  text-decoration: none;
  color: #979797;
  font-size: 120%;
  padding: auto;
  font-weight: 500;
}
.responsiveNavBar{
  display: none;
}

.menuR{
display: none;
}
#reImage{
  display: none;
}
 
/*---------------------------------- -Navigation bar MEDIA-QUERY----------------------------------------------*/ 

@media (max-width: 1200px) {
  .routes a {
    font-size: 120%;
  }
  .languages a{
    font-size: 90%;
  }
}
@media (max-width: 700px) {
  .totalNavBar{
    display: none;
  }
  .menuR{
    display: none;
    width: 70%;
    flex-direction: column;
    float: right;
    left: 30vw;
    top: 31vw;
    height: fit-content;
    background-color: #DBB4FB;
    box-shadow: 0px 3.44167px 3.44167px rgb(0 0 0 / 35%);
    position: fixed;
    z-index: 1;
    padding: 5vw;
  }
  .menuR a{
    font-size: 7vw;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 3vw;
  }
  .menuR a:first-child{
    margin-top: 3vw;
  }
  .responsiveNavBar{
    display: flex;
    background-color: white;
    position: fixed;
    width: 100vw;

    top:0;
    padding: 0px;
    align-items: center;
    box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
    z-index: 2;
  }
  .NavBar {
    width: 100%;
  }
  .responsiveNavBar img{
    width: 80%;
    height: 60%;

  }
  .navBarR {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .navBarR a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  #menuIcon {
    margin-top: 6%;
    font-size: 17vw;
    color:#6B3B91
  }
  #menuIcon:hover {
    cursor: pointer;
  }
  .imgPsycho {
    width: 60vw;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
}


}


/*---------------------------------- -Introduction----------------------------------------------*/ 
.upHeader{
  position: absolute;
  z-index:1;
}
.downHeader{
  position: relative;
  top:-50px;
  z-index: -1;
}
.whyText {
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.whyText img {
  width: 50%;
  height: 50%;
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
  display: none;
}

.whyText p {
  color: #a069ce;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  display: flex;
}
.IntroductionText {
   text-align: left;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   width: 75%;
   display: flex;
   flex-direction: row;
   justify-content:center;

}
.whyZFC{
  color: #57B007;
  font-weight: 500;
  font-size: 2.8vw;
  width: 100%;
  font-family: 'Bitter', serif;
}
.introText{
  padding: 10px;
  width: 50%
}
#imgPsycho {
  width:30vw;
  height: 20vw;
  float: left;
}
.IntroductionText h1{
color: #57B007;
font-weight: 500;
font-size: 2.8vw;
width: 100%;
font-family: 'Bitter', serif;
}

.IntroductionText p {
  color:#a069ce;
  font-size:1.4vw;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  display: flex;
}
.introImage{
  width: 22vw;
  height: 22vw;
  margin-right: 5%;

}
.Intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
.Intro img{
  margin-right: 100px;
  border-radius: 232.399px;

}

/*----------------------------------- Introduction MEDIA QUERY----------------------------------------------*/ 
@media (max-width: 700px) {
  .introImage{
    width: 70vw;
    height: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vw;
  }
  .whyZFC{
    width: 200%;
    font-size: 10vw;
  }
  .IntroductionText {
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .introImage{
  margin-right: 0;

 }.IntroductionText p {
    width:200%;
    font-size: 5vw;

  }
  .IntroductionText h1 {
    width: 200%;
    font-size: 10vw;

  }
  #call {
    display: none;
  }
  #doxy {
    display: none;
  }
  .whyText {
    width: 75%;
  }
  .whyText img {
    width: 100vw;
    height: 100vw;
  }
  
  .whyText p {
    width:120%;
    font-size: 5vw;
  }
}

/*------------------------------------ About Us----------------------------------------------*/ 
.AboutUs{
  background: linear-gradient(#FFFFFF, #bfeefa, #FFFFFF);
}
.pdfViewer h1{
  font-family: 'Bitter', sans-serif;
  color: #57B007;
  text-align: center;
  font-weight: 400;
  font-size: 3vw;
}

.AboutUsStart{
  display: flex;
  flex-direction: row;
  text-align: left;
}
.AboutUsStart h1{
  color: #57B007;
  font-weight: 500;
  font-size: 2.8vw;
  width: 100%;
  font-family: 'Bitter', serif;
}
.AboutUsStart h3 {
  color: #a069ce;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  display: flex;
}
.AboutUsStartText{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AboutUsEnd h1{
  color: #57B007;
  font-weight: 500;
  font-size: 2.8vw;
  width: 100%;
  font-family: 'Bitter', serif;
}
.AboutUsEnd h3{
  color: #a069ce;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  display: flex;
}
.AboutUsEndText {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#values {
  width: 24vw;
  height: 10vw;
  box-sizing: border-box;
filter: none;
margin-left: auto;
border-radius: 40px;
margin-right: auto;
}
.AboutUsEnd{
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}
#sofa{
  width: 20vw;
  height:20vw;
box-sizing: border-box;
filter: drop-shadow(0px 4.05001px 4.05001px rgba(0, 0, 0, 0.25));
float: right;
}
.imgAbout {
  display: flex;
  flex-direction: row;
}
.AboutUs{
  margin-top: 300px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------------About us MEDIA QUERY-------------------------------------------------*/
@media (max-width: 700px) {
  .AboutUsStart{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }
  .AboutUs{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:100%;
  }
  .AboutUsStart h1 {
    font-size: 12vw;
}
.AboutUsStart h3 {

  font-size: 5vw;
  width: 150%;

}
.AboutUsStart img {
  display: none;
}
.AboutUsEnd h1 { 
  font-size: 8vw;

}
.AboutUsEnd h3 {
  font-size: 5vw;
}
}

/*--------------------------------Team-------------------------------------------------*/

.Estefania {
  background: linear-gradient(102.89deg, #B9FBFF 7.35%, rgba(255, 255, 255, 0) 79.44%), #E8D2FA;
border: 1px solid #B9FBFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20.4756px;
width: 70%;
height: 300px;

}
.Estefania img{
  width: 300px;
  height: 220px;
}
.Estefania h3 {
  color: #6B3B91;
  font-family: Raleway;
font-style: normal;
font-weight: bold;
}
.Estefania p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #4B8589;
}
.carousel-prev:before {
  background-image: url('https://www.flaticon.es/svg/vstatic/svg/32/32213.svg?token=exp=1616265698~hmac=2ba996bcc4e7ba65ead25a5a179ae850');
}
.carousel-next:before {
  background-image: url('https://www.flaticon.es/svg/vstatic/svg/32/32213.svg?token=exp=1616265698~hmac=2ba996bcc4e7ba65ead25a5a179ae850');
}
#teamR{
  display: none;
}
.size {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.team {
  margin-top: 300px;
  width: 70%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.team h1{
  color: #57B007;
  font-weight: 400;
  font-size: 35px;
}
#startImage{
  width: 24vw;
  height:40vw;
box-sizing: border-box;
filter: drop-shadow(0px 3.7964px 3.7964px rgba(0, 0, 0, 0.25));
}


.Reccomendations {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  display: flex;
  flex-direction: row;
}
.Reccomendations h1 {
  color: #57B007;
  font-weight: 500;
  font-size: 2.8vw;
  width: 100%;
  font-family: 'Bitter', serif;
}
.Reccomendations img {
  width: 15vw;

}
.recText{
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.3vw;
    font-family: 'Raleway', sans-serif;
  padding: 20px 40px;
  text-align: center;
  color: #a069ce;
}

.recSection{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 10%;
}
.recSection:first-child{
  margin-top: 20%;
}
@media(max-width: 700px){
  .Reccomendations {

    flex-direction: column;
  }
  .Reccomendations h1 {
    font-size: 12vw;
 
}
.Reccomendations img {
  width: 70vw;
  height: 40vw;
}
.recText {
  font-size: 4vw;
  width:100%;

}
.recSection {
  font-size: 4vw;
  width:100%;
  margin-left: 0;

}

}
.FAQ {
  margin-top: 20%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.FAQ h1{
  color: #57B007;
  font-weight: 500;
  font-size: 2.8vw;
  width: 100%;
  font-family: 'Bitter', serif;
}
.question{
  color: #6B3B91;
  font-family: 'Raleway',sans-serif;
  font-size: larger;
  font-weight: bolder;
}
.doxyR {
  display: flex;
  flex-direction: column;
}

.doxyR h4 {
margin: 0%;
font-size: 0.8vw;
color: #b47be2;
}
.answer{
  color: #4B8589;
}
#accordion{
  box-shadow:0px 3.08706px 3.08706px rgba(0, 0, 0, 0.25);
}
.getInTouch{
  margin-top: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.sectionRe{
  background-color: #cbe9eb;
  padding: 1vw;
  margin-bottom: 20px;
  
}
.getInTouch h1 {
  color: #57B007;
  font-weight: 400;
  font-size: 3vw;
  font-family: 'Bitter', sans-serif;
}
.getInTouch p {
  color:#4B8589;
  font-family: 'Raleway', sans-serif;
}
footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
footer p{
  font-size: 1.5vw;
}
footer h1 {
  font-size: 3vw;
  margin: none;
}

footer h3 {
  font-size: 2vw;
}
footer img{
  width: 40vw;
  height: 30vw;
}
.Footer{
  margin-top: 40px;
  background: #6B3B91;
  color: white;
  position: absolute;
  width: 100%;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
footer a{
  width: 2vw;
height: 2vw;
color: #FFFFFF;}

.iconsSocial svg{
  width: 4vw;
  height: 4vw;
}
@media(max-width: 700px){
  footer{
   flex-direction: column;
   margin-right: auto;
   margin-left: auto;
  }
  .contact {
    width: 100vw;
  }
  footer h1 {
    font-size: 8vw;
    margin: none;
    margin-right: auto;
    margin-left: auto;
  }
  footer p {
    font-size: 3vw;
    margin: none;
    margin-right: auto;
    margin-left: auto;
  }
  footer a{
    width: 2vw;
  height: 2vw;
  font-size: 4vw;
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;}
  footer h3 {
    font-size: 4vw;
    margin-right: auto;
    margin-left: auto;
  }
  footer img{
    width: 60vw;
    height: 40vw;
    margin-right: auto;
    margin-left: auto;
  }
  .iconsSocial svg{
    width: 10vw;
    height: 10vw;
  }
}
#modalh2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  color: #57B007;
}
#modalp {
  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 1.4vw;
text-align: center;

color: #6B3B91;
}
.modalButton{
  background-color:#B073E1;
  color: white;
  font-family: 'Raleway', sans-serif;
  border:none;
  width: 15vw;
  height:40px;
  font-weight: 700;
  font-size: 1.3vw;
  box-shadow: 0px 3.08706px 3.08706px rgba(0, 0, 0, 0.25);
border-radius: 15.4353px;
outline:none;
}
.modalButton:hover{
  cursor: pointer;
}
@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;

  }
}

.teamContainer{
  margin-top: 300px;

}
.teamContainer h1{
  color: #57B007;
  font-weight: 500;
  font-size: 2.8vw;
  width: 100%;
  font-family: 'Bitter', serif;
}
.slider {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.image {
  width: 70%;
  height:20%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.image:hover{
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color:#a069ce;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color:#a069ce;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}

/*--------------------------------About us MEDIA QUERY-------------------------------------------------*/
@media (max-width: 700px) {
  .FAQ h1{

    font-size: 12vw;

  }
  .right-arrow { 
    top: 45%;
    right: 1vw;
    font-size: 2rem;
  }
  .left-arrow {
    top: 45%;
    left: 1vw;
    font-size: 2rem;
  }
  .teamContainer h1{
    font-size: 12vw;
  }
  #teamR{
    display: flex;
    flex-direction: column;
  }
  #Team{
    display: none;
  }
  .image{
    width: 80%;
  }
  .slider {
    height: 100%;
    width: 100%;
  }
  .teamContainer {
    margin-top: 100px;
}
.slide.active {
  width: 80%;
}

}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 3px solid #B9FBFF;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
padding: 2%;
}
.contactButtons a {
  background: #FFFFFF;
border-radius: 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #4B8589;
padding: 2vw;
outline:none;
border: none;
font-family: 'Montserrat';
font-weight: 400;
font-size: 1.5vw;
}
.contactButtons a:hover {
cursor: pointer;
}
.formulario input, textarea{
  width: 90%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #DBB4FB;
border: 1px solid #6B3B91;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin-right: auto;
margin-left: auto;
outline: none;
margin-top: 20px;
}
.formulario input {
  height: 40px;
}
.formulario input::placeholder {
  font-family: 'Raleway';
  font-size: 20px;
  color:#6B3B91;
  padding-left:10px;
}
.formulario button {
  background: #FFFFFF;
border-radius: 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #4B8589;
padding: 20px;
outline:none;
border: none;
font-family: 'Montserrat';
font-weight: 400;
font-size: large;
flex-direction: right;
width: 100px;
height: 50px;
}
.formulario textarea::placeholder {
  font-family: 'Raleway';
  font-size: 20px;
  color:#6B3B91;
  padding-left:10px;
}
.formulario textarea{
  height: 150px;
}
.contactButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media(max-width: 700px){
  .contactButtons a{
    font-size: 3vw;
  }
  .contactButtons{
   flex-direction: column;
  }
}

.Psychotherapy {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.Psychotherapy h1 {
  display: flex;
  color: #57B007;
  font-weight: 500;
  font-size: 3vw;
  font-family: 'Bitter', sans-serif;
}
.Psychotherapy h3 {
  color:#3e1861;
  font-size: 2vw;
  font-family: 'Raleway', sans-serif;
  width: 90%;
  margin-top: 5%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.column{
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.Psychotherapy p {
  color:#6B3B91;
  font-size: 1.4vw;
  margin-bottom: 1vw;
  font-family: 'Raleway', sans-serif;
  width: 90%;
  margin-top: 23%;
  margin-left: 5%;
  text-align: left;
}
.session p {
  color:#6B3B91;
  font-size: 1.4vw;
  margin-bottom: 1vw;
  font-family: 'Raleway', sans-serif;
  width: 90%;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.session h3 {
  color:#3e1861;
  font-size: 2vw;
  font-family: 'Raleway', sans-serif;
  width: 90%;
  margin-top: 5%;
  width: 70%;
}
.psyRow{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.imgPsycho {
  width: 20vw;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
}
.rowServices{
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #4B8589;
  padding: 2%;
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.5vw;
  width: 60vw;
  margin-bottom: 40px;
}
.rowServices p{
  font-size: 1.4vw;
}
.columnServices{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.titleServices{
  display: flex;
  justify-content: left;
  color: #57B007;
  font-weight: 500;
  font-size: 3vw;
  font-family: 'Bitter', sans-serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.pdfViewer {
  margin-top:40px;
  margin-left: auto;
  margin-right: auto;
  width:70%;
}
.Forms {
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #4B8589;
  padding: 20px;
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: large;
  width: 70%;
}
.Forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.Forms button{
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 2vw;
  color: #4B8589;
  background-color: white;
}
.Forms button:hover {
  cursor: pointer;
}
.Estefania1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.titleEstefania {
  display: flex;
  flex-direction: row;
}
.titleEstefania h2{
  margin-left: 40px;
}
.textEstefania h2{
  font-family: 'Bitter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 3vw;
color: #57B007;
}
.textEstefania h3{
  font-family: 'Raleway';
font-style: normal;
font-weight: normal;
font-size: 1.7vw;
color:#3e1861;
margin-left: 40px;
}
.textEstefania {
  align-items: center;
}
.pEstefania {
  color: #6B3B91;
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 1.3vw;
margin-bottom: 60px;
}
.sectionEstefania {
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: large;
  color: #4B8589;
  width: 70%;
  border: 3px solid #B9FBFF;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 20px;
}
.sectionEstefania p {
font-size: 1.3vw;
}
.publicSection{
  display: flex;
  flex-direction: row;
}
#certificate{
  width: 6vw;
  height:6vw;
  justify-content: flex-end;
}
.sexT{
  display: flex;
  flex-direction: row;
}
@media (max-width: 700px){
  .Psychotherapy {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40vw;
  }
  .services{
    margin-top: 40vw;
  }
  .titleServices{
    font-size: 8vw;
  }
  .rowServices h2{
    font-size: 6vw;
  }
  .columnServices {
    flex-direction: column;
    justify-content: space-around;
}
  .Psychotherapy h1 {
    display: flex;
    color: #57B007;
    font-weight: 500;
    font-size: 8vw;
    font-family: 'Bitter', sans-serif;
    text-align: center;
  }
  .Psychotherapy h3 {
    color:#3e1861;
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .column{
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
  .Psychotherapy p {
    color:#6B3B91;
    font-size: 3vw;
    margin-bottom: 2vw;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: left;
  }
  .session p {
    color:#6B3B91;
    font-size: 3vw;
    margin-bottom: 1vw;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;

  }
  .session h3 {
    color:hsl(271, 60%, 24%);
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-top: 5%;

  }
  .psyRow{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
  #imgPsycho {
    width: 60vw;
    height: 40vw;
    float:none;
}
.imgPsycho {
  width: 60vw;
  height: 60vw;
  float:none;
}
.rowServices p {
  font-size: 3vw;
}
.pdfViewer {
  margin-top:40vw;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}
.spaceEstefania{
  margin-top: 40vw;
}
.titleEstefania {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.titleEstefania h2 {
  margin-left: 0px;
  font-family: 'Bitter', sans-serif;
  font-size: 8vw;
}
.publicSection{
  flex-direction: column;
}
.sectionEstefania{
  width:100%;
}
.textEstefania h3{
 font-size: 5vw;
margin-left: 0px;
}
.pEstefania{
  font-size: 3vw;
}
.sectionEstefania p {
  font-size: 3vw;
}
.getInTouch{
  margin-top: 40vw;
}
.getInTouch h1 {
  color: #57B007;
  font-weight: 400;
  font-size: 8vw;
  font-family: 'Bitter', sans-serif;
}
.getInTouch p {
  color:#4B8589;
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
}
.titleEstefania img {
  width: 70vw;
  height: 40vw;
}
#reImage{
  display: flex;
  width: 70vw;
  height: 100vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
}
.pdfViewer h1{

  font-size: 8vw;
}
#modalh2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  color: #57B007;
}
#modalp {
  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 3vw;
text-align: center;

color: #6B3B91;
}
.modalButton{
  background-color:#B073E1;
  color: white;
  font-family: 'Raleway', sans-serif;
  border:none;
  width: 70px;
  height:40px;
  font-weight: 700;
  font-size: 3vw;
  box-shadow: 0px 3.08706px 3.08706px rgba(0, 0, 0, 0.25);
border-radius: 15.4353px;
outline:none;
}
}