.App {
  text-align: center;
}
/*----------------------------------------- Navigation bar------------------------------------------------- */ 
.NavBar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
}
.routes {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  align-items: center;

}
.routes >li {
  float: center;
  margin-top: 5px;
  padding: 10px, 20px;
}
.routes li:hover > ul{
  display: block;
  background-color: #E8D2FA;
  text-align: left;
  cursor: pointer;
  width: 180px;
  border-radius: 20px;
  font-size: small;
}
.routes li ul{
  display:none;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.optionsMenu{
  font-size: 10px;
}
.routes li ul li{
  border-bottom: rgb(255, 255, 255) 1px solid;
  border-radius: 20px;
  padding: 5px;
  font-size: 100%;
}
ul.routes {
  margin: 0;
  padding: 10px;
}
.routes li{
  list-style: none;
}
.routes a {
  text-decoration: none;
  color: #6B3B91;
  font-size: 150%;
  padding: 10px;
}
.languages{
  background-color: white;
  margin-top: 4px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

}
.languages a{
  text-decoration: none;
  color: #979797;
  font-size: 120%;
  padding: auto;
  font-weight: 500;
}
.responsiveNavBar{
  display: none;
}


 
/*---------------------------------- -Navigation bar MEDIA-QUERY----------------------------------------------*/ 

@media (max-width: 1200px) {
  .routes a {
    font-size: 120%;
  }
  .languages a{
    font-size: 90%;
  }
}
@media (max-width: 700px) {
  .totalNavBar{
    display: none;
  }
  .responsiveNavBar{
    display: flex;
    background-color: white;
    width: 100vw;
    height: 30%;
    padding: 0px;
    align-items: center;
    box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);

  }
  .NavBar {
    width: 100%;
  }
  .responsiveNavBar img{
    width: 60%;
    height: 60%;

  }
  .navBarR {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  #menuIcon {
    margin-top: 6%;
    font-size: 17vw;
    color:#6B3B91
  }
  #menuIcon:hover {
    cursor: pointer;
  }


}


/*---------------------------------- -Introduction----------------------------------------------*/ 
.upHeader{
  position: absolute;
  z-index:1;
}
.downHeader{
  position: relative;
  top:-50px;
  z-index: -1;
}
.whyText {
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.whyText img {
  width: 50%;
  height: 50%;
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);
}

.whyText p {
  background-color: white; 
  width: 70%;
  color:#a069ce;
  font-family: 'Raleway', sans-serif;
  font-size:1.5vw;
}
.IntroductionText {
   text-align: left;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   width: 75%;
   display: flex;
   flex-direction: row;
   justify-content:center;

}
.introText{
  padding: 10px;
  width: 50%
}
#imgPsycho {
  width:350px;
  height:210px;
}
.IntroductionText h1{
color: #57B007;
font-weight: 500;
font-size: 2.8vw;
width: 100%;
font-family: 'Bitter', serif;
}

.IntroductionText p {
  color:#a069ce;
  font-weight: 400;
  font-size:1.4vw;
  font-family: 'Raleway', sans-serif;
  display: flex;
}
.introImage{
  width: 22vw;
  height: 22vw;
  margin-right: 5%;

}
.Intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
.Intro img{
  margin-right: 100px;
  border-radius: 232.399px;

}

/*----------------------------------- Introduction MEDIA QUERY----------------------------------------------*/ 
@media (max-width: 700px) {
  .introImage{
    width: 100%;
    height: 100%;
  }
  .IntroductionText {
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .introImage{
  margin-right: 0;

 }.IntroductionText p {
    width:200%;
    font-size: 5vw;

  }
  .IntroductionText h1 {
    width: 200%;
    font-size: 10vw;

  }
  #call {
    display: none;
  }
  #doxy {
    display: none;
  }
  .whyText {
    width: 75%;
  }
  .whyText img {
    width: 100vw;
    height: 100vw;
  }
  
  .whyText p {
    width:120%;
    font-size: 5vw;
  }
}

/*------------------------------------ About Us----------------------------------------------*/ 
.AboutUs{
  background: linear-gradient(#FFFFFF, #a069ce);
  box-shadow: 0px 3.44167px 3.44167px rgba(0, 0, 0, 0.35);

}

.AboutUsStart{
  display: flex;
  flex-direction: row;
  text-align: left;
}
.AboutUsStart h1{
  color: #57B007;
  font-weight: 300;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}
.AboutUsStart h3 {
  color:#a069ce;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.AboutUsStartText{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AboutUsEnd h1{
  color: #3e1861;
  font-weight: 300;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}
.AboutUsEnd h3{
  color:#ffffff;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.AboutUsEndText {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#values {
  width: 24vw;
  height: 10vw;
  box-sizing: border-box;
filter: none;
margin-left: auto;
border-radius: 40px;
margin-right: auto;
}
.AboutUsEnd{
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}
#sofa{
  width: 20vw;
  height:20vw;
box-sizing: border-box;
filter: drop-shadow(0px 4.05001px 4.05001px rgba(0, 0, 0, 0.25));
float: right;
}
.imgAbout {
  display: flex;
  flex-direction: row;
}
.AboutUs{
  margin-top: 300px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------------About us MEDIA QUERY-------------------------------------------------*/
@media (max-width: 700px) {
  .AboutUsStart{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }
  .AboutUs{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:100%;
  }
  .AboutUsStart h1 {
    font-size: 12vw;
}
.AboutUsStart h3 {

  font-size: 5vw;
  width: 150%;
  color: rgb(112, 112, 112);

}
.AboutUsStart img {
  display: none;
}
.AboutUsEnd h1 { 
  font-size: 8vw;

}
.AboutUsEnd h3 {
  font-size: 5vw;
  color: rgb(230, 227, 227);
}
}
/*--------------------------------Team-------------------------------------------------*/

.Estefania {
  background: linear-gradient(102.89deg, #B9FBFF 7.35%, rgba(255, 255, 255, 0) 79.44%), #E8D2FA;
border: 1px solid #B9FBFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20.4756px;
width: 70%;
height: 300px;

}
.Estefania img{
  width: 300px;
  height: 220px;
}
.Estefania h3 {
  color: #6B3B91;
  font-family: Raleway;
font-style: normal;
font-weight: bold;
}
.Estefania p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #4B8589;
}
.carousel-prev:before {
  background-image: url('https://www.flaticon.es/svg/vstatic/svg/32/32213.svg?token=exp=1616265698~hmac=2ba996bcc4e7ba65ead25a5a179ae850');
}
.carousel-next:before {
  background-image: url('https://www.flaticon.es/svg/vstatic/svg/32/32213.svg?token=exp=1616265698~hmac=2ba996bcc4e7ba65ead25a5a179ae850');
}
#teamR{
  display: none;
}
.size {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.team {
  margin-top: 300px;
  width: 70%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.team h1{
  color: #57B007;
  font-weight: 400;
  font-size: 35px;
}
#startImage{
  width: 24vw;
  height:40vw;
box-sizing: border-box;
filter: drop-shadow(0px 3.7964px 3.7964px rgba(0, 0, 0, 0.25));
}


.Reccomendations {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  display: flex;
  flex-direction: row;
}
.Reccomendations h1 {
  color: #57B007;
  font-weight: 400;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}
.Reccomendations img {
  width: 25vw;
  height: 15vw;
}
.recText{
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.3vw;
    font-family: 'Raleway', sans-serif;
  padding: 20px 40px;
  text-align: center;
  color: #a069ce;
}

.recSection{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 10%;
}
.recSection:first-child{
  margin-top: 20%;
}
@media(max-width: 700px){
  .Reccomendations {

    flex-direction: column;
  }
  .Reccomendations h1 {
    font-size: 12vw;
 
}
.Reccomendations img {
  width: 70vw;
  height: 40vw;
}
.recText {
  font-size: 4vw;

}
}
.FAQ {
  margin-top: 300px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.FAQ h1{
  color: #57B007;
  font-weight: 400;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}
.MuiTypography-body1 {
  font-size: 1rem;
  font-family: Raleway;
 font-weight: bold; 
  line-height: 1.5;
}
.question{
  color: #6B3B91;
  font-family: 'Raleway',sans-serif;
  font-size: larger;
  font-weight: bolder;
}
.answer{
  color: #4B8589;
}
.getInTouch{
  margin-top: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.getInTouch h1 {
  color: #57B007;
  font-weight: 400;
  font-size: 35px;
}
footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.Footer{
  margin-top: 40px;
  background: #6B3B91;
  color: white;
  position: absolute;
  width: 100%;
  height: fit-content;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
}
footer a{
  width: 20px;
height: 20px;
color: #FFFFFF;}


#modalh2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #57B007;
}
#modalp {
  font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #6B3B91;
}
.modalButton{
  background-color:#B073E1;
  color: white;
  font-family: 'Raleway', sans-serif;
  border:none;
  width: 180px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 3.08706px 3.08706px rgba(0, 0, 0, 0.25);
border-radius: 15.4353px;
outline:none;
}
.modalButton:hover{
  cursor: pointer;
}
@Keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;

  }
}

.teamContainer{
  margin-top: 300px;

}
.teamContainer h1{
  color: #57B007;
  font-weight: 400;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;

}
.slider {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.image {
  width: 70%;
  height:20%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.image:hover{
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color:#a069ce;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color:#a069ce;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}

/*--------------------------------About us MEDIA QUERY-------------------------------------------------*/
@media (max-width: 700px) {
  .right-arrow { 
    top: 45%;
    right: 1vw;
    font-size: 2rem;
  }
  .left-arrow {
    top: 45%;
    left: 1vw;
    font-size: 2rem;
  }
  .teamContainer h1{
    font-size: 12vw;
  }
  #teamR{
    display: flex;
    flex-direction: column;
  }
  #Team{
    display: none;
  }
  .image{
    width: 80%;
  }
  .slider {
    height: 100%;
    width: 100%;
  }
  .teamContainer {
    margin-top: 100px;
}
.slide.active {
  width: 80%;
}

}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 3px solid #B9FBFF;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
padding: 2%;
}
.contactButtons a {
  background: #FFFFFF;
border-radius: 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #4B8589;
padding: 20px;
outline:none;
border: none;
font-family: 'Montserrat';
font-weight: 400;
font-size: large;
}
.contactButtons a:hover {
cursor: pointer;
}
.formulario input, textarea{
  width: 90%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #DBB4FB;
border: 1px solid #6B3B91;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin-right: auto;
margin-left: auto;
outline: none;
margin-top: 20px;
}
.formulario input {
  height: 40px;
}
.formulario input::placeholder {
  font-family: 'Raleway';
  font-size: 20px;
  color:#6B3B91;
  padding-left:10px;
}
.formulario button {
  background: #FFFFFF;
border-radius: 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #4B8589;
padding: 20px;
outline:none;
border: none;
font-family: 'Montserrat';
font-weight: 400;
font-size: large;
flex-direction: right;
width: 100px;
height: 50px;
}
.formulario textarea::placeholder {
  font-family: 'Raleway';
  font-size: 20px;
  color:#6B3B91;
  padding-left:10px;
}
.formulario textarea{
  height: 150px;
}
.contactButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.getInTouch h3{
  color: #6B3B91;
  font-family: 'Montserrat';
  font-weight: 400;
}

.Psychotherapy {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  align-items: center;
}
.Psychotherapy h1 {
  display: flex;
  justify-content: left;
  color: #57B007;
  font-weight: 500;
  font-size: 40px;
}
.Psychotherapy h2 {
  display: flex;
  justify-content: left;
  color: #57B007;
  font-weight: 300;
  font-size: 30px;
}
.Psychotherapy p {
  color:#6B3B91;
  font-size: larger;
  margin-bottom: 40px;
}

.imgPsycho {
  width: 300px;
  height: 300px;
}
.rowServices{
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #4B8589;
  padding: 20px;
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: large;
  width: 25%;
}
.columnServices{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.titleServices{
  display: flex;
  justify-content: center;
  color: #57B007;
  font-weight: 500;
  font-size: 40px;
}
.pdfViewer {
  margin-top:40px;
  margin-left: auto;
  margin-right: auto;
  width:70%;
}
.Forms {
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #4B8589;
  padding: 20px;
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: large;
  width: 70%;
}
.Forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.Forms button{
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: large;
  color: #4B8589;
  background-color: white;
}
.Forms button:hover {
  cursor: pointer;
}
.Estefania1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.titleEstefania {
  display: flex;
  flex-direction: row;
}
.titleEstefania h2{
  margin-left: 40px;
}
.textEstefania h2{
  font-family: 'Raleway';
font-style: normal;
font-weight: normal;
font-size: 30px;
color: #57B007;
}
.textEstefania h3{
  font-family: 'Raleway';
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #4B8589;
}
.textEstefania {
  align-items: center;
}
.pEstefania {
  color: #6B3B91;
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 15px;
}
.sectionEstefania {
  outline:none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: large;
  color: #4B8589;
  width: 70%;
  border: 3px solid #B9FBFF;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 20px;
}
.publicSection{
  display: flex;
  flex-direction: row;
}